# Application base path
BASE_PATH=

# application setup
PORT='3000'

LOG_CONSOLE_LEVEL='info'
LOG_FILE_ACTIVE='false'
LOG_FILE_LEVEL=
LOG_FILE_NAME=

# docker-compose

# Message broker
KAFKA_SSL=false
KAFKA_CLIENT_BROKER=kafka:9092
KAFKA_SASL_USERNAME=$ConnectionString
KAFKA_SASL_PASSWORD=very_secure_password
KAFKA_CONSUMER_GROUP=product-consumer

# Which port will Node run on host
NODE_HOST_PORT='3000'
# Which port will Node debugger run on host
NODE_HOST_DEBUG_PORT='9229'
# Which port will postgres run on host
DB_HOST_PORT='5434'
# The current user's gid and uid. You can find that by running the command id
GROUP_ID='1000'
USER_ID='1000'
